.godot/
.import/
*.tmp
*.log
user://

fennara-cpp/.scons_cache/
fennara-cpp/.sconsign.dblite
fennara-cpp/build/

local/target/

dist/
!godot_demo/addons/fennara/dist/
!godot_demo/addons/fennara/dist/**
.package-preview/
plans/
temp/

godot_demo/addons/fennara/bin/*
!godot_demo/addons/fennara/bin/.gitkeep
